# ENVIRONMENT CONTROL
NODE_ENV=development

# ROOT ADMIN CREDENTIALS (Only used for cluster setup)
POSTGRES_PASSWORD=super_secure_admin_root_password

# LOW-PRIVILEGE WORKER CREDENTIALS (Used by your Node.js API)
DB_NAME=ecommerce_platform
DB_USER=store_api_worker
DB_PASSWORD=super_secure_store_password
DB_PORT=5432

# PGADMIN MANAGEMENT CREDENTIALS (Web Panel GUI Admin Login)
PGADMIN_DEFAULT_EMAIL=admin@ecommerce.com
PGADMIN_DEFAULT_PASSWORD=super_secure_pgadmin_password

# SECURITY KEY SYNC
JWT_SECRET=my_super_secret_developer_token_handshake_key_123!

# GOOGLE SOCIAL IDENTITIES
GOOGLE_CLIENT_ID=your_google_apps_client_id_string_here
GOOGLE_CLIENT_SECRET=your_google_apps_client_secret_key_here
GOOGLE_CALLBACK_URL=http://localhost:3000/api/v1/auth/google/callback

# GITHUB SOCIAL IDENTITIES
GITHUB_CLIENT_ID=your_github_apps_client_id_string_here
GITHUB_CLIENT_SECRET=your_github_apps_client_secret_key_here
GITHUB_CALLBACK_URL=http://localhost:3000/api/v1/auth/github/callback
