# ENVIRONMENT CONTROL
NODE_ENV=development

# ROOT ADMIN CREDENTIALS (Only used for cluster setup)
POSTGRES_PASSWORD=super_secure_admin_root_password

# LOW-PRIVILEGE WORKER CREDENTIALS (Used by your Node.js API)
DB_NAME=ecommerce_platform
DB_USER=store_api_worker
DB_PASSWORD=super_secure_store_password
